* {
    box-sizing: border-box;
    caret-color: #46afd2;
    font-family: 'GongGothicMedium';
    line-height: 160%;
    letter-spacing: -0.35px;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

input {
    outline: none;
}

input::placeholder {
    color: #9d9ea1;
    font-weight: 300;
    font-size: 14px;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'GongGothicMedium';
}

.Light {
    font-weight: 300;
}

.Med {
    font-weight: 400;
}

.Bold {
    font-weight: 700;
}

.brand {
    color: #46afd2;
}

.white {
    color: white;
}

.black {
    color: black;
}

.gq {
    color: #f8f8f9;
}

.gh {
    color: #f2f2f3;
}

.g1 {
    color: #e6e6e7;
}

.g2 {
    color: #ceced0;
}

.g3 {
    color: #b5b6b8;
}

.g4 {
    color: #9d9ea1;
}

.g5 {
    color: #848689;
}

.g6 {
    color: #6c6d72;
}

.g7 {
    color: #53555a;
}

.g8 {
    color: #3b3d43;
}

.g9 {
    color: #22252b;
}

.g10 {
    color: #0a0d14;
}

.Cap {
    font-size: 12px;
}

.Small {
    font-size: 14px;
}

.Medium {
    font-size: 16px;
}

.Large {
    font-size: 18px;
}

.titleSmall {
    font-size: 24px;
}

.titleMedium {
    font-size: 28px;
}

.titleLarge {
    font-size: 36px;
}

.Hero {
    font-size: 48px;
}

/* @@@@@헤더@@@@@ */

.header {
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
    min-width: 1200px;
}

.Side_header {
    width: 100%;
    background-color: #f2f2f3;
    height: 39px;
}

.Side_header_list {
    width: 1200px;
    margin: 0 auto;
    color: #6c6d72;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Side_header ul {
    display: flex;
    gap: 24px;
}

li {
    list-style: none;
    display: inline-block;
}

.Main_header {
    width: 100%;
    height: 88px;
}

.Top_header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 88px;
}

.Top_header_logo {
    width: 306px;
    display: flex;
    align-items: center;
}

.Top_header_logo img {
    width: 128px;
    height: 40px;
}

.Top_banner_section {
    width: 306px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.6s ease-in-out;
}

.Top_banner_section img {
    width: 240px;
    height: 56px;
}

.search_box {
    width: 588px;
    height: 48px;
    border: 1px solid #46afd2;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 16px;
    gap: 8px;
}

.search_bar {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px 0px 0px 12px;
    text-indent: 24px;
    background-color: transparent;
}

.search_box img {
    width: 24px;
    height: 24px;
}

.Bottom_nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 61px;
    justify-content: space-between;
}

.total_game {
    width: 306px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.total_game img {
    width: 24px;
    height: 24px;
    transition: 0.5s;
}

.total_game:hover img,
.total_game:focus img {
    transition: transform 0.5s ease-in-out ;
    transform: rotateZ(180deg);
}

.Bottom_nav ul {
    display: flex;
    gap: 80px;
    padding: 0px;
    font-size: 18px;
    margin: 0;
}

.Bottom_nav li {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Bottom_nav hr {
    border: 2px solid #46afd2;
    border-radius: 8px;
    margin: 0;
    opacity: 0;
    transition: 0.3s;
}

.Bottom_nav li:hover hr,
.Bottom_nav li:focus hr {
    opacity: 1;
}

.product_add {
    width: 306px;
    display: flex;
    justify-content: flex-end;
}

.product_add button {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: none;
    background-color: #46afd2;
    color: white;
    border-radius: 4px;
}

.product_add button img {
    width: 24px;
    height: 24px;
}

.footer {
    width: 100%;
    background-color: #0a0d14;
    min-width: 1200px;
}

.footer_section {
    width: 1200px;
    margin: 0 auto;
}

.top_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 24px 0px;
}

.top_footer_button {
    display: flex;
    gap: 24px;
}

.top_footer_button button {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.media {
    background-image: url(../img/media-strip.png);
}

.mobile {
    background-image: url(../img/mobile.png);
}

.bottom_footer {
    display: flex;
    justify-content: space-between;
}

.top_footer_list {
    display: flex;
    gap: 16px;
    align-items: center;
}

.top_footer_list hr {
    height: 8px;
    border: 1px solid #6c6d72;
}

.logo_white {
    width: 128px;
}

.bottom_footer_left {
  width: 680px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin: 24px 0px 40px 0px;
}

.bottom_footer_right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.bottom_footer_right div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.grid_menu img {
    width: 40px;
}

.Main_header.act {
    display: none;
}

.Side_header.act {
    display: none;
}

.Bottom_nav.act {
    display: none;
}

.Top_banner_section.act {
    display: none;
}

.grid_menu.act {
    width: 306px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.grid_menu.act img {
    width: 40px;
    display: block;
}

.Main_header_act {
    opacity: 0;
    display: none;
    transform: translateY(80px);
    transition: 2s;
}

.Main_header_act.act {
    opacity: 1;
    transform: translateY(0);
    display: contents;
}